name: random_pet_explorer
description: A fun app that fetches random cat & dog images using pub.dev packages.
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  http: ^0.13.6
  cached_network_image: ^3.2.3
  flutter_spinkit: ^5.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
